/* Seletor UNIVERSAL Alterando o comportamento do Box Model CSS. Usando esta regra evitamos os problemas as se usar width,height,paddig e border ao menso tempo
ESSENCIAL EM TODOS OS HTML */
* {
    box-sizing: border-box;
}


/* REGRAS DE FORMATAÇÃO */
body {
    font-family: 'Segoe UI', Courier, monospace;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* ajustando a div do seu html */
/* seletor IDENTIFICADO */
#container {
    background-color: white;
    width: 70%;
    height: auto;
    border-radius: 9px;
    padding: 16px;
    margin: auto;
    font-style: groove;

    /* adiciona sombras nas bordas */
    box-shadow: rgb(55, 0, 255) 10px 10px 10px, rgb(255, 0, 0) -10px -10px 10px;


}

/* tornando imagens responsivas e flexiveis */
img {
    max-width: 100%;
}

figure {
    text-align: center;
    background-color: white;
}


/* ajustar o titulo(h1) */
h1 {
    color: aliceblue;
    font-family: Impact, Verdana, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(35, 2, 164, 0.498);
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: black 5px 5px;
    margin: 0;

}

/* ajustar o subtitulo(h2) */
h2 {
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-right-width: 20px;
    padding-left: 20px;

}


/* Seletor TAG(vale pra todos os <a>) */
a {
    text-decoration: none;
}


/* Seletor DESCENDENTE
(vale pra todos os <a> CONTIDOS em <nav>) */
nav a {
    color: black;
}

figure img {
    transform: scale(0.9);
    transition: 1s;
    filter: grayscale(100%);
}


/* usando o pseudo-classe :hover (ação de passar o mouse) */
figure img:hover {
    transform: scale(1) rotateX(360deg);
    filter: grayscale(0);
}

/* Seletor AGRUPADO (grupo de seletores) */
p,
li {
    font-size: 18px;
}

/* seletor CLASSE */
.centralizar {
    text-align: center;
}

.sombra {
    text-shadow: purple;
}

.destaque {
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 4px;
    border-radius: 5px;
    font-style: groove;
}

.destaques-back {
    background-color: yellow;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 40px;
}


/* regras para o menu e seus links */
nav {
    text-align: center;
}


/* regras para o estado inicial dos links */
nav a {
    color: white;
    font-weight: bold;
    background-color: rgba(35, 2, 164, 0.498);
    display: inline-block;
    width: 50%;
    padding: 2%;
    transition: 1s;
}

/* Regra para o estado de acionamento dos links */
nav a:hover,
nav a:focus {
    background-color: black;
}


nav a:first-child {
    border-bottom-left-radius: 8px;
}

nav a:last-child {
    border-bottom-right-radius: 8px;
}

/* listas nao ordenada */

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}


ul li {
    color: red;
    list-style-type: none;
}


ul li::marker {
    content: "🙀";
    color: purple;
    font-size: 14px;
}

/* pseudo-classes */
ul li:first-child {
    font-weight: border;
}

ul li:last-child {
    font-style: italic;
}

ul li:nth-child(3) {
    color: blue;
}

/* cores alternadas */
ul li:nth-child(even) {
    background-color: pink;
}

ul li:nth-child(odd) {
    background-color: rgba(35, 2, 164, 0.498);
}


details {
    border: solid 2px;
}

summary {
    font-weight: bold;
}


summary::marker {
    content: "👽";
}

details[open] summary::marker{
    content: "👾";
}