/* Arquivo excluido para regras e recusos da linguagem CSS */
body {
    font-family: 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
    background-color: steelblue;
}

hr {
    height:5px;
    background-color: blue;
    border: none;
}